<div class="container">
  <div>
    <img src=<%=@movie.poster%>>
  </div>

  <div>
  <br>
  <p>Title: <%= @movie.title %></p><br>
  <p>Year: <%= @movie.year %></p><br>
  <p>Rating: <%= @movie.rated %></p><br>
  <p>Release Date: <%= @movie.released %></p><br>
  <p>Length: <%= @movie.runtime %></p><br>
  <p>Genre: <%= @movie.genre %></p><br>
  <p>Director: <%= @movie.director %></p><br>
  <p>Writer: <%= @movie.writer %></p><br>
  <p>Actors: <%= @movie.actors %></p><br>
  <p>Plot: <%= @movie.plot %></p><br>
  <p>Language: <%= @movie.language %></p><br>
  <p>Country: <%= @movie.country %></p><br>
  <p>Awards: <%= @movie.awards %></p><br>
  <p>Metascore: <%= @movie.metascore %></p><br>
  <p>IMDB Rating: <%= @movie.imdb_rating %></p><br>
  </div>

</div>